$nyanza: #D3F6DB;
$non-photo-blue: #92D5E6;
$eminence: #772D8D;
$palatine: #5A0B4D;
$light-green: #A1EF8B;

// // Paleta para proyecto
$color-background: $nyanza; // fondo principal
$color-background-alt: $light-green; // fondo secundario (cards, secciones)
$color-text: $palatine; // texto principal
$color-accent: $eminence; // nav, footer, botones
$color-highlight: $non-photo-blue; // enlaces, hover, detalles

// Breakpoints para responsive
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;