@use '../utils/mixins' as mixins;
@use '../utils/variables' as variables;

.nav {
    background-color: variables.$color-highlight;
    color: variables.$color-background;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.respond-to(sm) {
        flex-direction: column;
        align-items: flex-start;
    }

    a {
        color: variables.$color-background;
        margin-left: 1rem;

        &:hover {
            color: variables.$color-accent;
        }
    }
}